# Module 10 KDD

- Explore the kdd 10% dataset for network intrusion detection.
- uses kddcup.data_10_percent.txt
- dataset consists of 24 different attack types

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("D:\\Jupyter_Notebooks\\CS654ML_DM\\Data\\kddcup.data_10_percent.txt", header=None)

### Size the this dataset

In [3]:
len(df)

494020

In [4]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,0,tcp,http,SF,181,5450,0,0,0,0,...,9,1.0,0.0,0.11,0.0,0.0,0.0,0.0,0.0,normal.
1,0,tcp,http,SF,239,486,0,0,0,0,...,19,1.0,0.0,0.05,0.0,0.0,0.0,0.0,0.0,normal.
2,0,tcp,http,SF,235,1337,0,0,0,0,...,29,1.0,0.0,0.03,0.0,0.0,0.0,0.0,0.0,normal.
3,0,tcp,http,SF,219,1337,0,0,0,0,...,39,1.0,0.0,0.03,0.0,0.0,0.0,0.0,0.0,normal.
4,0,tcp,http,SF,217,2032,0,0,0,0,...,49,1.0,0.0,0.02,0.0,0.0,0.0,0.0,0.0,normal.

### Show how many distinct values of class labels

In [5]:
df.iloc[:, 41].unique()

array(['normal.', 'buffer_overflow.', 'loadmodule.', 'perl.', 'neptune.',
       'smurf.', 'guess_passwd.', 'pod.', 'teardrop.', 'portsweep.',
       'ipsweep.', 'land.', 'ftp_write.', 'back.', 'imap.', 'satan.',
       'phf.', 'nmap.', 'multihop.', 'warezmaster.', 'warezclient.',
       'spy.', 'rootkit.'], dtype=object)

### Show the number of distinct labels and the largest class.

In [6]:
df.iloc[:, 41].describe()

count     494020
unique        23
top       smurf.
freq      280790
Name: 41, dtype: object

### Show the freq/count of each distinct class label.

In [7]:
df.iloc[:, 41].value_counts()

41
smurf.              280790
neptune.            107201
normal.              97277
back.                 2203
satan.                1589
ipsweep.              1247
portsweep.            1040
warezclient.          1020
teardrop.              979
pod.                   264
nmap.                  231
guess_passwd.           53
buffer_overflow.        30
land.                   21
warezmaster.            20
imap.                   12
rootkit.                10
loadmodule.              9
ftp_write.               8
multihop.                7
phf.                     4
perl.                    3
spy.                     2
Name: count, dtype: int64

### Show the statistics of all numerical attributes.

In [8]:
df.describe()

,0,4,5,6,7,8,9,10,11,12,...,31,32,33,34,35,36,37,38,39,40
count,494020.000000,4.940200e+05,4.940200e+05,494020.000000,494020.000000,494020.000000,494020.000000,494020.000000,494020.000000,494020.000000,...,494020.000000,494020.000000,494020.000000,494020.000000,494020.000000,494020.000000,494020.000000,494020.000000,494020.000000,494020.000000
mean,47.979400,3.025616e+03,8.685308e+02,0.000045,0.006433,0.000014,0.034519,0.000152,0.148245,0.010212,...,232.471248,188.666052,0.753781,0.030906,0.601936,0.006684,0.176754,0.176443,0.058118,0.057412
std,707.747185,9.882191e+05,3.304003e+04,0.006673,0.134805,0.005510,0.782103,0.015520,0.355343,1.798328,...,64.744601,106.040205,0.410780,0.109259,0.481309,0.042133,0.380593,0.380920,0.230590,0.230141
min,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,4.500000e+01,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,255.000000,46.000000,0.410000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,5.200000e+02,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,255.000000,255.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,1.032000e+03,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,255.000000,255.000000,1.000000,0.040000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,58329.000000,6.933756e+08,5.155468e+06,1.000000,3.000000,3.000000,30.000000,5.000000,1.000000,884.000000,...,255.000000,255.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

### Show all normal network data.

In [9]:
df.loc[df[41]=='normal.']

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,0,tcp,http,SF,181,5450,0,0,0,0,...,9,1.0,0.0,0.11,0.00,0.00,0.00,0.0,0.0,normal.
1,0,tcp,http,SF,239,486,0,0,0,0,...,19,1.0,0.0,0.05,0.00,0.00,0.00,0.0,0.0,normal.
2,0,tcp,http,SF,235,1337,0,0,0,0,...,29,1.0,0.0,0.03,0.00,0.00,0.00,0.0,0.0,normal.
3,0,tcp,http,SF,219,1337,0,0,0,0,...,39,1.0,0.0,0.03,0.00,0.00,0.00,0.0,0.0,normal.
4,0,tcp,http,SF,217,2032,0,0,0,0,...,49,1.0,0.0,0.02,0.00,0.00,0.00,0.0,0.0,normal.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494015,0,tcp,http,SF,310,1881,0,0,0,0,...,255,1.0,0.0,0.01,0.05,0.00,0.01,0.0,0.0,normal.
494016,0,tcp,http,SF,282,2286,0,0,0,0,...,255,1.0,0.0,0.17,0.05,0.00,0.01,0.0,0.0,normal.
494017,0,tcp,http,SF,203,1200,0,0,0,0,...,255,1.0,0.0,0.06,0.05,0.06,0.01,0.0,0.0,normal.
494018,0,tcp,http,SF,291,1200,0,0,0,0,...,255,1.0,0.0,0.04,0.05,0.04,0.01,0.0,0.0,normal.
494019,0,tcp,http,SF,219,1234,0,0,0,0,...,255,1.0,0.0,0.17,0.05,0.00,0.01,0.0,0.0,normal.

### Show all neptune network data.

In [10]:
df.loc[df[41] == 'neptune.']

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
7601,0,tcp,telnet,S0,0,0,0,0,0,0,...,6,1.00,0.00,0.20,0.33,1.00,0.83,0.0,0.0,neptune.
7602,0,tcp,telnet,S0,0,0,0,0,0,0,...,16,1.00,0.00,0.07,0.12,1.00,0.94,0.0,0.0,neptune.
53583,0,tcp,private,S0,0,0,0,0,0,0,...,1,1.00,0.00,1.00,0.00,1.00,1.00,0.0,0.0,neptune.
53584,0,tcp,private,S0,0,0,0,0,0,0,...,8,0.73,0.27,0.09,0.00,1.00,1.00,0.0,0.0,neptune.
53585,0,tcp,private,S0,0,0,0,0,0,0,...,17,0.81,0.14,0.05,0.00,1.00,1.00,0.0,0.0,neptune.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486877,0,tcp,smtp,S0,0,0,0,0,0,0,...,136,0.46,0.01,0.01,0.01,0.99,0.52,0.0,0.0,neptune.
486878,0,tcp,telnet,S0,0,0,0,0,0,0,...,83,0.51,0.01,0.01,0.00,0.99,0.98,0.0,0.0,neptune.
486879,0,tcp,telnet,S0,0,0,0,0,0,0,...,93,0.54,0.01,0.01,0.00,0.99,0.98,0.0,0.0,neptune.
486880,0,tcp,smtp,S0,0,0,0,0,0,0,...,135,0.44,0.01,0.01,0.01,0.99,0.60,0.0,0.0,neptune.
486881,0,tcp,smtp,S0,0,0,0,0,0,0,...,144,0.47,0.01,0.01,0.01,0.99,0.63,0.0,0.0,neptune.

### For normal class, choose columns of

- attribute 4 to attribute 41
- numerical attributes.

In [11]:
df.loc[df[41] == 'normal.'].iloc[:, 4:41]

,4,5,6,7,8,9,10,11,12,13,...,31,32,33,34,35,36,37,38,39,40
0,181,5450,0,0,0,0,0,1,0,0,...,9,9,1.0,0.0,0.11,0.00,0.00,0.00,0.0,0.0
1,239,486,0,0,0,0,0,1,0,0,...,19,19,1.0,0.0,0.05,0.00,0.00,0.00,0.0,0.0
2,235,1337,0,0,0,0,0,1,0,0,...,29,29,1.0,0.0,0.03,0.00,0.00,0.00,0.0,0.0
3,219,1337,0,0,0,0,0,1,0,0,...,39,39,1.0,0.0,0.03,0.00,0.00,0.00,0.0,0.0
4,217,2032,0,0,0,0,0,1,0,0,...,49,49,1.0,0.0,0.02,0.00,0.00,0.00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494015,310,1881,0,0,0,0,0,1,0,0,...,86,255,1.0,0.0,0.01,0.05,0.00,0.01,0.0,0.0
494016,282,2286,0,0,0,0,0,1,0,0,...,6,255,1.0,0.0,0.17,0.05,0.00,0.01,0.0,0.0
494017,203,1200,0,0,0,0,0,1,0,0,...,16,255,1.0,0.0,0.06,0.05,0.06,0.01,0.0,0.0
494018,291,1200,0,0,0,0,0,1,0,0,...,26,255,1.0,0.0,0.04,0.05,0.04,0.01,0.0,0.0
494019,219,1234,0,0,0,0,0,1,0,0,...,6,255,1.0,0.0,0.17,0.05,0.00,0.01,0.0,0.0

### For neptune class

Choose columns of:  

- attribute 4 to attribute 41
- numerical attributes.

In [12]:
df.loc[df[41] == 'neptune.'].iloc[:, 4:41]

,4,5,6,7,8,9,10,11,12,13,...,31,32,33,34,35,36,37,38,39,40
7601,0,0,0,0,0,0,0,0,0,0,...,5,6,1.00,0.00,0.20,0.33,1.00,0.83,0.0,0.0
7602,0,0,0,0,0,0,0,0,0,0,...,15,16,1.00,0.00,0.07,0.12,1.00,0.94,0.0,0.0
53583,0,0,0,0,0,0,0,0,0,0,...,1,1,1.00,0.00,1.00,0.00,1.00,1.00,0.0,0.0
53584,0,0,0,0,0,0,0,0,0,0,...,11,8,0.73,0.27,0.09,0.00,1.00,1.00,0.0,0.0
53585,0,0,0,0,0,0,0,0,0,0,...,21,17,0.81,0.14,0.05,0.00,1.00,1.00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486877,0,0,0,0,0,0,0,0,0,0,...,153,136,0.46,0.01,0.01,0.01,0.99,0.52,0.0,0.0
486878,0,0,0,0,0,0,0,0,0,0,...,163,83,0.51,0.01,0.01,0.00,0.99,0.98,0.0,0.0
486879,0,0,0,0,0,0,0,0,0,0,...,173,93,0.54,0.01,0.01,0.00,0.99,0.98,0.0,0.0
486880,0,0,0,0,0,0,0,0,0,0,...,183,135,0.44,0.01,0.01,0.01,0.99,0.60,0.0,0.0
486881,0,0,0,0,0,0,0,0,0,0,...,193,144,0.47,0.01,0.01,0.01,0.99,0.63,0.0,0.0

### Use only the first 1000 rows.

In [13]:
df.loc[df[41] == 'normal.'].iloc[:1000, 4:41]

,4,5,6,7,8,9,10,11,12,13,...,31,32,33,34,35,36,37,38,39,40
0,181,5450,0,0,0,0,0,1,0,0,...,9,9,1.0,0.0,0.11,0.00,0.0,0.0,0.0,0.0
1,239,486,0,0,0,0,0,1,0,0,...,19,19,1.0,0.0,0.05,0.00,0.0,0.0,0.0,0.0
2,235,1337,0,0,0,0,0,1,0,0,...,29,29,1.0,0.0,0.03,0.00,0.0,0.0,0.0,0.0
3,219,1337,0,0,0,0,0,1,0,0,...,39,39,1.0,0.0,0.03,0.00,0.0,0.0,0.0,0.0
4,217,2032,0,0,0,0,0,1,0,0,...,49,49,1.0,0.0,0.02,0.00,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997,226,4006,0,0,0,0,0,1,0,0,...,30,237,1.0,0.0,0.03,0.08,0.0,0.0,0.0,0.0
998,231,5283,0,0,0,1,0,1,0,1,...,40,247,1.0,0.0,0.03,0.07,0.0,0.0,0.0,0.0
999,230,5558,0,0,0,0,0,1,0,0,...,50,255,1.0,0.0,0.02,0.07,0.0,0.0,0.0,0.0
1000,239,691,0,0,0,0,0,1,0,0,...,60,255,1.0,0.0,0.02,0.07,0.0,0.0,0.0,0.0
1001,211,5693,0,0,0,0,0,1,0,0,...,5,255,1.0,0.0,0.20,0.07,0.0,0.0,0.0,0.0

### Put these 1000 rows in df_normal_1000. 

- This represents normal network data.

In [14]:
df_normal_1000 = df.loc[df[41] == 'normal.'].iloc[:1000, 4:41]

### Choose the first 1000 rows of neptune class.

In [15]:
df.loc[df[41] == 'neptune.'].iloc[:1000, 4:41]

,4,5,6,7,8,9,10,11,12,13,...,31,32,33,34,35,36,37,38,39,40
7601,0,0,0,0,0,0,0,0,0,0,...,5,6,1.00,0.00,0.20,0.33,1.0,0.83,0.0,0.0
7602,0,0,0,0,0,0,0,0,0,0,...,15,16,1.00,0.00,0.07,0.12,1.0,0.94,0.0,0.0
53583,0,0,0,0,0,0,0,0,0,0,...,1,1,1.00,0.00,1.00,0.00,1.0,1.00,0.0,0.0
53584,0,0,0,0,0,0,0,0,0,0,...,11,8,0.73,0.27,0.09,0.00,1.0,1.00,0.0,0.0
53585,0,0,0,0,0,0,0,0,0,0,...,21,17,0.81,0.14,0.05,0.00,1.0,1.00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54576,0,0,0,0,0,0,0,0,0,0,...,255,1,0.00,0.08,0.00,0.00,1.0,1.00,0.0,0.0
54577,0,0,0,0,0,0,0,0,0,0,...,255,5,0.02,0.08,0.00,0.00,1.0,1.00,0.0,0.0
54578,0,0,0,0,0,0,0,0,0,0,...,255,10,0.04,0.08,0.00,0.00,1.0,1.00,0.0,0.0
54579,0,0,0,0,0,0,0,0,0,0,...,255,3,0.01,0.07,0.00,0.00,1.0,1.00,0.0,0.0
54580,0,0,0,0,0,0,0,0,0,0,...,255,8,0.03,0.07,0.00,0.00,1.0,1.00,0.0,0.0

### Put these 1000 rows in df_neptune_1000. This represents intrusion data.

In [16]:
df_neptune_1000 = df.loc[df[41] == 'neptune.'].iloc[:1000, 4:41]

### This will be used in constructiong the two-class classifier later.

In [17]:
df = pd.concat([df_neptune_1000, df_normal_1000])

In [18]:
len(df)

2000

In [19]:
df.head(10)

,4,5,6,7,8,9,10,11,12,13,...,31,32,33,34,35,36,37,38,39,40
7601,0,0,0,0,0,0,0,0,0,0,...,5,6,1.00,0.00,0.20,0.33,1.0,0.83,0.0,0.0
7602,0,0,0,0,0,0,0,0,0,0,...,15,16,1.00,0.00,0.07,0.12,1.0,0.94,0.0,0.0
53583,0,0,0,0,0,0,0,0,0,0,...,1,1,1.00,0.00,1.00,0.00,1.0,1.00,0.0,0.0
53584,0,0,0,0,0,0,0,0,0,0,...,11,8,0.73,0.27,0.09,0.00,1.0,1.00,0.0,0.0
53585,0,0,0,0,0,0,0,0,0,0,...,21,17,0.81,0.14,0.05,0.00,1.0,1.00,0.0,0.0
53586,0,0,0,0,0,0,0,0,0,0,...,31,6,0.19,0.13,0.03,0.00,1.0,1.00,0.0,0.0
53587,0,0,0,0,0,0,0,0,0,0,...,41,16,0.39,0.10,0.02,0.00,1.0,1.00,0.0,0.0
53588,0,0,0,0,0,0,0,0,0,0,...,51,5,0.10,0.10,0.02,0.00,1.0,1.00,0.0,0.0
53589,0,0,0,0,0,0,0,0,0,0,...,61,13,0.21,0.10,0.02,0.00,1.0,1.00,0.0,0.0
53590,0,0,0,0,0,0,0,0,0,0,...,71,3,0.04,0.10,0.01,0.00,1.0,1.00,0.0,0.0

### Create the class labels. 

- 0 is for normal
- 1 is for intrusion.

In [20]:
label_1 = []

for i in range(1000):
    label_1.append(1)

label_0 = []

for i in range(1000):
    label_0.append(0)

labels = label_1 + label_0

In [21]:
labels[:10]

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [22]:
labels[1000:1010]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]