# Module 5 Data Data Engineering

### Topics
- How to deal with empty/missing/null values

**Notes**:
- Python has a value called **None**. This type represents an unknown value in Python.
- **None** is not used as often as **NaN**.
  - **NaN** - stands for Not a Number. It is a **float** type to represent a missing or undefined value.
  - **NaN** - is commonly used in processing null values.
  - **NaN** -  this value cannot be compared. 
  - use **math.isnan()** to determine if the variable is NaN.
  - Pandas uses **isna()** to tell if a value is NaN.
- Can assign NaN to almost any data structure.
- Pandas will automatically will assign NaN to empty cells in a CSV file.

In [1]:
x = None

type(x)

NoneType

In [2]:
print(x)

None

In [3]:
x == None

True

In [4]:
y = 2
y == None

False

In [5]:
# None can be treated as an element.
l = [3, 1, None, 5, 12]

len(l)

5

In [6]:
# Simple way to count the number of None (unknown) values in a list.
missing = 0

for x in l:
    if x == None:
        missing = missing + 1

print(missing)

1

In [7]:
import math

y = math.nan

type(y)

float

In [8]:
print(y)

nan

In [9]:
# can assign a NaN value using float().
z = float('nan')

type(z)

float

In [10]:
# Cannont be cpmpared.
print(z > 10)
print(z < 10)
print(z == 10)

False
False
False

In [11]:
# use math.isnan() to decide if the variable is NaN.
math.isnan(z)

True

In [12]:
# Pandas uses isna() to tell if a value is NaN.
import pandas as pd
pd.isna(z)

True

In [13]:
#Numpy 
import numpy as np
np.isnan(z)

True

In [14]:
# list with a NaN value created

n = [4.3, 1.2, float('nan'), 2.7]
n

[4.3, 1.2, nan, 2.7]

In [15]:
type(n[2])

float

In [16]:
# Load a CSV file with missing  or empty cells

df = pd.read_csv('test.csv')

df

   Name   Age
0  John  20.0
1  Mary  19.0
2   Tom   NaN
3   NaN  23.0

In [17]:
print(df.iloc[2, 1])

nan

In [18]:
type(df.iloc[2, 1])

numpy.float64

In [19]:
math.isnan(df.iloc[2, 1])

True