# Purpose of the Notebook

This Jupyter Notebook is to review the concepts of Python that are relavant to the course. Topics covered will stated at the beginning of each video.

# Video 1
Contents of Video 1. Part 1.

Topics covered:
- Basic data types
- Data conversions

**Notes:**

- Python has no data decoration -- data type does not to be declared beforehand.
- **type()** to view the data type of a variable.

In [1]:
x = 0

In [2]:
print(x)     # to print the value of x

0

In [3]:
type(x)      # to check the data type

int

In [4]:
y= 3.14159   # floating point number
type(y)

float

In [5]:
s = 'John Smith'
type(s)

str

### Common functions for strings
- len() -- returns the size / length of the string

In [6]:
len(s)   # returns the length of the string

10

In [7]:
single = True 
print(type(single))

<class 'bool'>

In [8]:
married = False
print(married)

False

In [9]:
# convert one data type to another
s1 = '234'
z = int(s1)
type(s1)

str

In [10]:
type(z)

int

In [11]:
w = 12.34
type(w)

float

In [12]:
s3 = str(w)     # convert the float to a string use str
type(s3)

str

# Part 2 Video

Contents of Video 2. Part 1.

Topics covered:

- Comparisons
- Logical conditions
- Arithmetic operators

**Notes**
- There are six operators: ==, !=, >, <, >=, <= 
- String values and boolean values can only use == and !=

In [13]:
# comparisons
x = 10
y = 15

In [14]:
x == y

False

In [15]:
x != y

True

In [16]:
 x > y

False

In [17]:
x < y

True

In [18]:
x >= y

False

In [19]:
x <= y

True

In [20]:
s1 = 'Smith'
s2 = 'smith'
s1 == s2

False

In [21]:
s1 != s2

True

In [22]:
# comparing booleans
single = True
married = False
single == married

False

In [23]:
single != married

True

# Part 3 Video

Contents of Video 3. Part

Topics covered:

- Logical conditions

**Notes**
-  
-

In [24]:
print(x)
print(y)

10
15

In [25]:
# using an if statement
if (x > y):
    print("x is larger than y")

In [26]:
if (x > y):
    print("x is larger than y")
else:
    print("y is larger than x")

y is larger than x

In [27]:
x = 10 
y = 10

In [28]:
# using an if statement
if (x > y):
    print("x is larger than y")

In [29]:
if (x > y):
    print("x is larger than y")
elif (x < y):
    print("y is larger than x")
else:
    print("x is equal to y")

x is equal to y

## Arithmetic Operators
**Notes**
- use **round()** to round the number to the appropriate number of decimal places.

In [30]:
# Numerical operations on numerical values
x = 10
y = 3

print(x + y)
print(x - y)
print(x * y)
print(round(x / y, 2))      # round to two decimal places
print(x % y)

13
7
30
3.33
1

# Part 4 Video

Contents of Video 4.

Topics covered:

- Lists
- For loops
- Functions
- Dictionaries
- Interactive input and output

**Notes**
-  
-

In [31]:
l = [6, 7, 2, 1, 4]
len(l)                # returns the length of the list

5

In [32]:
l[0]      # prints the first element in the list

6

In [33]:
l[len(l) - 1]

4

In [34]:
# Using a for loop to acces each element in the list
for e in l:
    #print(e, end='')
    print(e)

6
7
2
1
4

In [35]:
# print the list using the index of each element
for i in range(len(l)):
    print(l[i])

6
7
2
1
4

## Sort a list

- using the **sort()** function
- can sort numerical values and string values.
- Ssorting strings is based on the ASCII codes of the letters in the string.

In [36]:
l.sort()
l

[1, 2, 4, 6, 7]

In [37]:
# descending order
l.sort(reverse=True)
l

[7, 6, 4, 2, 1]

In [38]:
s_l= ['banana', 'orange' ,'apple']
s_l.sort()
s_l

['apple', 'banana', 'orange']

In [39]:
# Multi-dimensional list
l_two = [[23,3,1], [6, 45, 2, 5],[21, 456]]           # a two dimensional list

In [40]:
# use nested for loops to traverse the list.
for x in l_two:
    for y in x:
        print(y)
    print("---")

23
3
1
---
6
45
2
5
---
21
456
---

# Part 5 Video

Contents of Video 3. Part

Topics covered:

- Defining and using functions

**Notes**
-  
-

In [41]:
def my_sum(l):
    sum = 0
    for x in l:
        sum = sum + x
    return sum

In [42]:
l

[7, 6, 4, 2, 1]

In [43]:
print(my_sum(l))

20

## Dictionary Demo

## Notes
- Keys must be unique /unique!
- **.keys()** will return a list of the keys in the dictionary
- **.values** will return a list of the values in the dictionary

In [44]:
dict = {'John':14, 'Tom':18, 'Susan':17, 'Helen': 19}
print(len(dict))

4

In [45]:
dict.keys()      # will return all the keys in the dictionary

dict_keys(['John', 'Tom', 'Susan', 'Helen'])

In [46]:
dict.values()   # will return all the values in the dictionary

dict_values([14, 18, 17, 19])

In [47]:
# use the for loop to iterate through a dictionary
for k in dict.keys():
    print(k)
    print(dict[k])
    print('----')

John
14
----
Tom
18
----
Susan
17
----
Helen
19
----

### Interactive Input and Output

In [48]:
option = input("What is your choice: 1, 2, 3?")

What is your choice: 1, 2, 3?1

In [49]:
print(option)

1

In [50]:
option = input("What is your choice: 1, 2, 3?")

print(option)

if option == '1':
    print("You have chosen option 1.")
elif option == '2':
    print("You have chosen option 2.")
elif option == '3':
    print("You have chosen option 1.")
else:
    print("I don't understand your choice.")

What is your choice: 1, 2, 3?2
2
You have chosen option 2.