# Purpose of the Notebook

This Jupyter Notebook is to review the concepts of Python that are relavant to the course. Topics covered will stated at the beginning of each video.  This sample code is from Module 3 of the course.

# Videos 
Topics covered:
- Lists
- Dictionaries
- Set
- Tuples
- Numpy arrays

**Notes:**
- **append()** - used to add an element to the end of the list
- **insert()** - to insert an element at a specific index in the list
- **pop** - to remove the element from a list

In [ ]:
# List example
l = [6, 7,2,1,4]

In [ ]:
print(l)      # print the contents of the list.

In [ ]:
l             # another way to print the list in a notebook.

In [ ]:
# add an element to the end of the list
l.append(54)
print(l)

In [ ]:
# insert an element at a specific index
l.insert(0 , 28)                            # will insert a new element at position zero
print(l)

In [ ]:
# remove an element from the list.
l.pop(3)                                    # will remove an element at the given position and return the value

In [ ]:
print(l)

### Dictionary Demo
- **.keys()** - will return all the keys in the dictionary.
- When adding a new value to the dictionary make sure the key is **unique**.  Cannot have the same key values.
- To update a dictionary supply the key and the new value for the key.

In [ ]:
dict = {'John':14, 'Tom': 18, 'Susan':17, 'Helen':19}

In [ ]:
len(dict)              # will return the length of the dictionary

In [ ]:
dict.keys()             # will return the keys in the dictionary

In [ ]:
# processing a dictionary using a for loop
for key in dict.keys():
    print(key)                         # prints the key
    print(dict[key])                   # prints the value
    print('-----')

In [ ]:
# to add a new value to the dictionary
dict['Andy'] = 13
dict

In [ ]:
# to update a key and its value
dict['John'] = 24
dict

### Sets Demo
- **set()** - creates a set from the given values

In [ ]:
set1 = set([13, 5, 6, 8])
set2 = set([2, 4, 6, 8])

In [ ]:
print(set1)
print(set2)

### Union Demo
- **union()** - joins two sets together.
- If there are duplicates only one element will be kept in the new union.

In [ ]:
set1.union(set2)

In [ ]:
# intersection example
set1.intersection(set2)

In [ ]:
# difference example
set1.difference(set2)

In [ ]:
set2.difference(set1)

### Tuples Demo
- tuples are immutable

In [ ]:
tuple = (3, 4, 2)
type(tuple)

In [ ]:
# to print an element
tuple[0]

In [ ]:
# try to change a value example
tuple[0] = 33

### Numpy Array Demp
- Will need to import numpy using the following:
   - import numpy as np
- A Numpy array does **not** allow different data types. All elements must be of the same tyepe.

In [ ]:
import numpy as np

a = np.array(l)
print(a)

In [ ]:
type(a)

In [ ]:
a

In [ ]:
# the list from previous cells
l

In [ ]:
l.append('me')
l

In [ ]:
# change the first element of a integer numpy array to a string example
a[0] = 'me'

# Section Covers

Topics covered:
- Pandas 
- Pandas Series
- Pandas DataFrame

**Notes:**
- need to import
  - import pandas as pd
- obj1.**index** - will show the ranges of the indexes for the Series.
- obj1.**values** - will display the values in the series
- The power of using Series is that they can be assigned labels/ names or string labels as indices for the series.

In [1]:
from pandas import Series, DataFrame

In [2]:
# creating a Series object from a list of integers.
obj1 = Series([4, 7, -5, 3])

In [3]:
type(obj1)

pandas.core.series.Series

In [4]:
obj1

0    4
1    7
2   -5
3    3
dtype: int64

In [5]:
obj1[2]         # to access an element by its index

-5

In [6]:
obj1.index     # will show the range of the indexes for the series

RangeIndex(start=0, stop=4, step=1)

In [7]:
obj1.values   # will display the values of the series

array([ 4,  7, -5,  3], dtype=int64)

In [8]:
# assigning index names to the series
obj1.index = ['d','b','a','c']
obj1

d    4
b    7
a   -5
c    3
dtype: int64

In [9]:
# to access the content of a series using the label
obj1['a']

-5

In [10]:
# to access the content of a series using the index
obj1[2]

C:\Users\ntcrw\AppData\Local\Temp\ipykernel_10332\1388806891.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  obj1[2]

-5

In [11]:
# assigning index names at the same time as creating the Series
obj2 = Series([4, 7, -5, 3], index=['d','p','a','h'])
obj2

d    4
p    7
a   -5
h    3
dtype: int64

# Section Covers

Topics covered:
- Pandas 
- Pandas Series
- Pandas DataFrame

**Notes:**
- need to import
  - import pandas as pd
- obj1.**index** - will show the ranges of the indexes for the Series.
- obj1.**values** - will display the values in the series
- The power of using Series is that they can be assigned labels/ names or string labels as indices for the series.