# Module 13 Text Classfication 

- uses movie_reviews.csv

In [1]:
import pandas as pd

### Load the movie reviews.

In [2]:
df = pd.read_csv("D:\\Jupyter_Notebooks\\CS654ML_DM\\Data\\movie_reviews.csv")

###  How many rows?

In [3]:
print(len(df))

5000

### how many columns?

In [4]:
df.columns

Index(['text', 'label'], dtype='object')

In [5]:
###  Show the first 10 reviews.

In [6]:
df.head(10)

                                                text  label
0  It's been about 14 years since Sharon Stone aw...      0
1  someone needed to make a car payment... this i...      0
2  The Guidelines state that a comment must conta...      0
3  This movie is a muddled mish-mash of clichés f...      0
4  Before Stan Laurel became the smaller half of ...      0
5  This is the best movie I've ever seen! <br /><...      1
6  The morbid Catholic writer Gerard Reve (Jeroen...      1
7  "Semana Santa" or "Angel Of Death" is a very w...      0
8  Somebody mastered the difficult task of mergin...      1
9  Why did I waste 1.5 hours of my life watching ...      0

### Sort the df by label column in decending order.

In [7]:
df.sort_values(by = 'label', ascending=False, inplace=True)

### Show the rearranged dataframe.

In [8]:
df.head()

                                                   text  label
4999  "The Mother" tells of a recently widowed mid-6...      1
3983  This is a great movie to see with your girlfri...      1
2056  Talk Radio is of course, probably not the most...      1
3998  There are some comments about this film that s...      1
3997  seriously i loved this film..i had started to ...      1

### Save the first 100 positive reviews and the last 100 negative reviews.

In [9]:
df_positive_100 = df.head(100)

#df_positive_200 = df.head(200)

df_negative_100 = df.tail(100)

#df_negative_200 = df.tail(200)

### 100 positive reviews

In [10]:
df_positive_100

                                                   text  label
4999  "The Mother" tells of a recently widowed mid-6...      1
3983  This is a great movie to see with your girlfri...      1
2056  Talk Radio is of course, probably not the most...      1
3998  There are some comments about this film that s...      1
3997  seriously i loved this film..i had started to ...      1
...                                                 ...    ...
1941  This started out to be a movie about the stree...      1
1942  I'm out of words to describe the beauty of "Th...      1
1943  Every once in a while in the wonderful world o...      1
4048  After watching this film I experienced a new s...      1
1947  I saw this movie in 1959 when I was 11 years o...      1

[100 rows x 2 columns]

### 100 Negative Reviews

In [11]:
df_negative_100

                                                   text  label
2198  One of the most notorious of the banned "Video...      0
2199  This film holds 7.0 rating on IMDb, so even I ...      0
2204  Saw the film at it's Lawrence, Kansas premiere...      0
2206  I have an affection for these twists on Britis...      0
2208  This is one of those movies you see in the vid...      0
...                                                 ...    ...
2281  Not to be confused with the above average supe...      0
2282  This snarky, homophobic thing was dated in 197...      0
2283  On the 26th of September 1983 a short dumpy 60...      0
2284  Although I am a fan of Heather Thomas and I ha...      0
2500  Bela Lugosi plays a doctor who will do anythin...      0

[100 rows x 2 columns]

### Save the text of the reviews into lists.

In [12]:
reviews_positive_100 = df_positive_100.iloc[:, 0].to_list()
reviews_negative_100 = df_negative_100.iloc[:, 0].to_list()

#reviews_positive_200 = df_positive_200.iloc[:, 0].to_list()
#reviews_negative_200 = df_negative_200.iloc[:, 0].to_list()

### Load the default stop words defined in nltk.

In [13]:
from nltk.corpus import stopwords
import string

english_stops = stopwords.words('english')

###  The default list has 179 stop words. You can add more to and remove words from this list.

In [14]:
len(english_stops)

179

### Show the first 10 stop words.

In [15]:
english_stops[:10]

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

###  Define my_clean_words(). 
- It removes the punctuation, and normalize every word in its lower case.
- The clean words will be returned in a list.

In [16]:
def my_clean_words(s):
    
    all_words = []
    
    review = s.translate(str.maketrans('','', string.punctuation))
    
    words = review.split()
    
    for w in words:
        w = w.lower()
        if w not in english_stops:
            all_words.append(w)
    return all_words

### Clean reviews and save cleaned words for 100 positive reviews.

In [17]:
reviews_positive_100_words = []

reviews_positive_100_words_list=[]

for review in reviews_positive_100:
    
    words_cleaned = my_clean_words(review)
    
    reviews_positive_100_words_list.append(words_cleaned)
    
    for w in words_cleaned:
        reviews_positive_100_words.append(w)

### Verification

In [18]:
print(len(reviews_positive_100_words_list))

print(len(reviews_positive_100_words))

print(len(set(reviews_positive_100_words)))

100
12211
4882

### Clean reviews and save cleaned words for 100 negative reviews.

In [19]:
reviews_negative_100_words = []

reviews_negative_100_words_list=[]

for review in reviews_negative_100:
    
    words_cleaned = my_clean_words(review)
    
    reviews_negative_100_words_list.append(words_cleaned)
    
    for w in words_cleaned:
        reviews_negative_100_words.append(w)

print(len(reviews_negative_100_words_list))
print(len(reviews_negative_100_words))
print(len(set(reviews_negative_100_words)))

100
13104
4900

### All distinct words in both positive and negative reviews.

In [20]:
print(len(set(reviews_negative_100_words+reviews_positive_100_words)))

7894

### Create the feature words - attributes in words.

In [21]:
attribute_words = list(set(reviews_negative_100_words+reviews_positive_100_words))

### Verification

In [22]:
len(attribute_words)

7894

### Transform postive reviews into one-hot encodings.

In [23]:
positive_vectors=[]

for i in range(len(reviews_positive_100_words_list)):
    
    vector = []
    
    for j in range(len(attribute_words)):
        if attribute_words[j] in reviews_positive_100_words_list[i]:
            vector.append(1)
        else:
            vector.append(0)
   
    positive_vectors.append(vector)

### Verification

In [24]:
print(len(positive_vectors))

100

### Length Verification

In [25]:
len(positive_vectors[0])

7894

### Transform negative reviews into one-hot encodings.

In [26]:
negative_vectors=[]

for i in range(len(reviews_negative_100_words_list)):
    
    vector = []
    
    for j in range(len(attribute_words)):
        if attribute_words[j] in reviews_negative_100_words_list[i]:
            vector.append(1)
        else:
            vector.append(0)
            
    negative_vectors.append(vector)

### Verification

In [27]:
print(len(negative_vectors))

print(len(negative_vectors[0]))

100
7894

In [28]:
# print(len(positive_negative_labels))

NameError: name 'positive_negative_labels' is not defined