# Module 3 Distances of Numerical Data

- calculate the distance between different rows
    - given data of mixed types 
- calculate each type of data type first and then combine their distances using weights
- generate one similiarty matrix
- Uses the **games_sales.csv** file
- uses **min-max normalization**

In [1]:
import pandas

In [2]:
df = pandas.read_csv("D:\\Jupyter_Notebooks\\CS654ML_DM\\Data\\game_sales.csv")

In [3]:
len(df)

100

In [4]:
df.head(5)

  Platform  Global_Sales  EU_Sales Release_Date
0      Wii         82.74     29.02          mid
1      NES         40.24      3.58        older
2      Wii         35.82     12.88          mid
3      Wii         33.00     11.01          mid
4       GB         31.37      8.89        older

### Using the top ten (10) entries in the dataframe

In [5]:
ten_games = df[: 10]

In [6]:
ten_games

  Platform  Global_Sales  EU_Sales Release_Date
0      Wii         82.74     29.02          mid
1      NES         40.24      3.58        older
2      Wii         35.82     12.88          mid
3      Wii         33.00     11.01          mid
4       GB         31.37      8.89        older
5       GB         30.26      2.26        older
6       DS         30.01      9.23          mid
7      Wii         29.02      9.20          mid
8      Wii         28.62      7.06          mid
9      NES         28.31      0.63        older

### Notes about the dataframe

- **Platform** - is a categorical attribute
- **Global_Sales** - is a numerical attribute
- **EU_Sales** - is a numerical attribute
- **Release_Date** - is an ordinal attribute

### Convert into a list of for the **Platform** column

In [7]:
platform = ten_games['Platform'].to_list()

In [8]:
platform

['Wii', 'NES', 'Wii', 'Wii', 'GB', 'GB', 'DS', 'Wii', 'Wii', 'NES']

### Compute the distance matrix on **Platform** column

- categorical

In [9]:
import math

In [10]:
distance_matrix_platform = []

for i in range(len(platform)):

    distance_row =[]

    for j in range (len(platform)):
        #print(str(i) + ", " + str(j))
        if platform[i] == platform[j]:
            distance = 0
        else:
            distance = 1
        distance_row.append(round(distance)) 
        #print("\n")

    distance_matrix_platform.append(distance_row)

In [11]:
distance_matrix_platform

[[0, 1, 0, 0, 1, 1, 1, 0, 0, 1],
 [1, 0, 1, 1, 1, 1, 1, 1, 1, 0],
 [0, 1, 0, 0, 1, 1, 1, 0, 0, 1],
 [0, 1, 0, 0, 1, 1, 1, 0, 0, 1],
 [1, 1, 1, 1, 0, 0, 1, 1, 1, 1],
 [1, 1, 1, 1, 0, 0, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 0, 1, 1, 1],
 [0, 1, 0, 0, 1, 1, 1, 0, 0, 1],
 [0, 1, 0, 0, 1, 1, 1, 0, 0, 1],
 [1, 0, 1, 1, 1, 1, 1, 1, 1, 0]]

### Compute the distance matrix on **Global_Sales** column

- numerical

In [12]:
global_sales = ten_games['Global_Sales'].to_list()

In [13]:
global_sales

[82.74, 40.24, 35.82, 33.0, 31.37, 30.26, 30.01, 29.02, 28.62, 28.31]

In [14]:
import copy

In [15]:
global_sales_k = copy.deepcopy(global_sales)

In [16]:
global_sales_k

[82.74, 40.24, 35.82, 33.0, 31.37, 30.26, 30.01, 29.02, 28.62, 28.31]

### Sort global_sales_k

In [ ]:
global_sales_k

# Aside
## Distance computation for numerical values

Assign ten integers to list l.

In [ ]:
# assign ten integersto list l.

l = [29, 27, 15, 27, 24, 17, 35, 18, 11, 24]

In [ ]:
import copy

In [ ]:
# create a deep copy of l, and assign it to k.
k = copy.deepcopy(l)

In [ ]:
# sort k list.
k.sort()

In [ ]:
# verify k.
print(k)

In [ ]:
# assign the min value of k as min_v, and the max value of k as max_v.
min_v = k[0]
max_v = k[-1]

# verify the min and max values.
print(min_v)
print(max_v)

In [ ]:
# l is not changed. 
print(l)

In [ ]:
l_nor = []

for x in l:
    print(round((x-min_v)/(max_v - min_v), 2))
    l_nor.append(round((x-min_v)/(max_v - min_v), 2))

In [ ]:
# verify l_nor.
print(l_nor)