# Module 2

Data Exploration using Jupyter notebook

Concepts:

- Load data from a CSV file
- Convert data to list
- Convert data to dict
- Read data from a text file
- Basic data cleaning

In [1]:
import pandas

In [2]:
# using Tshirts with the header

df = pandas.read_csv("D:\\Jupyter_Notebooks\\CS654ML_DM\\Data\\tshirts_header.csv")

df

   Height  Weight   Color    Size
0     6.1     225  yellow   large
1     5.5     150     red  medium
2     5.2     175   white   small

In [3]:
# access a specific column

df['Height']

0    6.1
1    5.5
2    5.2
Name: Height, dtype: float64

In [4]:
# Convert column values into a list

df['Height'].to_list()

[6.1, 5.5, 5.2]

In [5]:
# to store the list

heights = df['Height'].to_list()

heights

[6.1, 5.5, 5.2]

In [6]:
type(heights)

list

In [7]:
# to store a data in a dictionary

df.to_dict()

{'Height': {0: 6.1, 1: 5.5, 2: 5.2},
 'Weight': {0: 225, 1: 150, 2: 175},
 'Color': {0: 'yellow', 1: 'red', 2: 'white'},
 'Size': {0: 'large', 1: 'medium', 2: 'small'}}

In [8]:
# will use the column names as the key for the dictionary
df.to_dict('records')

[{'Height': 6.1, 'Weight': 225, 'Color': 'yellow', 'Size': 'large'},
 {'Height': 5.5, 'Weight': 150, 'Color': 'red', 'Size': 'medium'},
 {'Height': 5.2, 'Weight': 175, 'Color': 'white', 'Size': 'small'}]

In [9]:
# will use the column names as the key for the dictionary
df.to_dict('list')

{'Height': [6.1, 5.5, 5.2],
 'Weight': [225, 150, 175],
 'Color': ['yellow', 'red', 'white'],
 'Size': ['large', 'medium', 'small']}

In [10]:
# Open a file

fin = open("D:\\Jupyter_Notebooks\\CS654ML_DM\\Data\\courses.txt", "r")

In [11]:
# save each line of the file as one element in the list

courses_raw = []

for l in fin:
   courses_raw.append(l)

In [12]:
fin.close()

In [13]:
courses_raw

['CS120, CS121, CS495, CS230\n',
 'CS230, CS418, CS455\n',
 'CS455, CS421, CS103']

# Basic Data Cleaning

In [14]:
# separate each course title as a single string

courses_entries = []

for list_elem in courses_raw:
    
    raw = list_elem.strip().split(",")
    
    course_list = []
    
    for elem in raw:
        course_list.append(elem.strip())
        
    courses_entries.append(course_list)

In [15]:
courses_entries

[['CS120', 'CS121', 'CS495', 'CS230'],
 ['CS230', 'CS418', 'CS455'],
 ['CS455', 'CS421', 'CS103']]

### Find the unique courses taken by the students

In [16]:
unique_courses = []

for course_list in courses_entries:
    for course_name in course_list:
        if course_name not in unique_courses:
            unique_courses.append(course_name)

In [17]:
unique_courses

['CS120', 'CS121', 'CS495', 'CS230', 'CS418', 'CS455', 'CS421', 'CS103']

### order the courses in the lexical manner

In [18]:
unique_courses.sort()

unique_courses

['CS103', 'CS120', 'CS121', 'CS230', 'CS418', 'CS421', 'CS455', 'CS495']

In [19]:
# Create an array of 1/0; 1 represents course existence, 0 means no

final_table = []

for i in range (len(courses_entries)):

    result = []
    for name in unique_courses:
        if name in courses_entries[i]:
            result.append(1)
        else:
            result.append(0)
            
    final_table.append(result)

In [20]:
final_table

[[0, 1, 1, 1, 0, 0, 0, 1], [0, 0, 0, 1, 1, 0, 1, 0], [1, 0, 0, 0, 0, 1, 1, 0]]

In [21]:
import pandas as pd

In [22]:
df_test = pd.DataFrame(final_table, columns= unique_courses, index=['John','Mary','Tom'])

In [23]:
df_test

      CS103  CS120  CS121  CS230  CS418  CS421  CS455  CS495
John      0      1      1      1      0      0      0      1
Mary      0      0      0      1      1      0      1      0
Tom       1      0      0      0      0      1      1      0

In [24]:
# save each line of the file as one element in the list
df_games = pandas.read_csv("D:\\Jupyter_Notebooks\\CS654ML_DM\\Data\\game_sales.csv", )

In [25]:
len(df_games)

100

In [26]:
df_games.head(10)

  Platform  Global_Sales  EU_Sales Release_Date
0      Wii         82.74     29.02          mid
1      NES         40.24      3.58        older
2      Wii         35.82     12.88          mid
3      Wii         33.00     11.01          mid
4       GB         31.37      8.89        older
5       GB         30.26      2.26        older
6       DS         30.01      9.23          mid
7      Wii         29.02      9.20          mid
8      Wii         28.62      7.06          mid
9      NES         28.31      0.63        older

## Check to see if any null values exist

In [27]:
len(df_games.dropna())

100

## Check to see if there are any duplicate/identical rows.

In [28]:
len(df_games.drop_duplicates())

100

In [29]:
# Show the 'Platform" column

df_games['Platform']

0      Wii
1      NES
2      Wii
3      Wii
4       GB
      ...
95      PS
96     NES
97     3DS
98    X360
99    X360
Name: Platform, Length: 100, dtype: object

##  Find the unique categorical, attributes, or column values there are.

- uses the **unique()** function

**Note:** This will return an array of values or results

In [30]:
df_games['Platform'].unique()

array(['Wii', 'NES', 'GB', 'DS', 'X360', 'PS3', 'PS2', 'SNES', 'GBA',
       '3DS', 'PS4', 'N64', 'PS', 'XB', 'PC', '"2600"', 'PSP'],
      dtype=object)

## Know the frequency of each value or the count of each value

In [31]:
df_games['Platform'].value_counts()

Platform
X360      16
Wii       15
DS        13
PS3        9
3DS        7
GB         6
PS2        6
PS         5
PS4        5
SNES       4
NES        4
N64        4
GBA        2
XB         1
PC         1
"2600"     1
PSP        1
Name: count, dtype: int64

## To assign the result to a dictionary

In [32]:
df_games['Platform'].value_counts().to_dict()

{'X360': 16,
 'Wii': 15,
 'DS': 13,
 'PS3': 9,
 '3DS': 7,
 'GB': 6,
 'PS2': 6,
 'PS': 5,
 'PS4': 5,
 'SNES': 4,
 'NES': 4,
 'N64': 4,
 'GBA': 2,
 'XB': 1,
 'PC': 1,
 '"2600"': 1,
 'PSP': 1}

## To list the keys in an order

In [33]:
df_games['Platform'].value_counts().sort_index()

Platform
"2600"     1
3DS        7
DS        13
GB         6
GBA        2
N64        4
NES        4
PC         1
PS         5
PS2        6
PS3        9
PS4        5
PSP        1
SNES       4
Wii       15
X360      16
XB         1
Name: count, dtype: int64

In [34]:
df_games['Platform'].value_counts().sort_values()

Platform
PSP        1
PC         1
XB         1
"2600"     1
GBA        2
N64        4
NES        4
SNES       4
PS4        5
PS         5
PS2        6
GB         6
3DS        7
PS3        9
DS        13
Wii       15
X360      16
Name: count, dtype: int64

In [35]:
# List values in descending order

df_games['Platform'].value_counts().sort_values(ascending=False)

Platform
X360      16
Wii       15
DS        13
PS3        9
3DS        7
GB         6
PS2        6
PS4        5
PS         5
SNES       4
NES        4
N64        4
GBA        2
XB         1
PC         1
"2600"     1
PSP        1
Name: count, dtype: int64

## Using the describe() function

- Will apply the statistics to the dataframe's numerical values

**Note:** applying describe() to games will only give statistics about the numeric columns

In [36]:
df.describe()

         Height      Weight
count  3.000000    3.000000
mean   5.600000  183.333333
std    0.458258   38.188131
min    5.200000  150.000000
25%    5.350000  162.500000
50%    5.500000  175.000000
75%    5.800000  200.000000
max    6.100000  225.000000

In [37]:
# applying describe() to games will only give statistics about the numeric columns

df_games.describe()

       Global_Sales    EU_Sales
count    100.000000  100.000000
mean      14.619800    4.206600
std        9.936065    3.511557
min        7.340000    0.010000
25%        8.975000    2.315000
50%       11.255000    3.385000
75%       15.925000    5.042500
max       82.740000   29.020000

## To find groups within a particular attribute

- uses groupby() function

In [38]:
grouped = df_games.groupby(df_games['Platform'])

In [39]:
# Will show the groups with the group members given in a list of the rows

grouped.groups

{'"2600"': [89], '3DS': [32, 42, 49, 53, 64, 73, 97], 'DS': [6, 10, 11, 19, 20, 26, 27, 41, 45, 59, 74, 81, 88], 'GB': [4, 5, 12, 21, 30, 50], 'GBA': [25, 58], 'N64': [46, 63, 84, 94], 'NES': [1, 9, 22, 96], 'PC': [83], 'PS': [52, 66, 69, 87, 95], 'PS2': [17, 24, 28, 38, 47, 86], 'PS3': [16, 34, 37, 40, 54, 55, 56, 67, 82], 'PS4': [33, 44, 77, 92, 93], 'PSP': [90], 'SNES': [18, 57, 71, 76], 'Wii': [0, 2, 3, 7, 8, 13, 14, 39, 48, 60, 68, 78, 80, 85, 91], 'X360': [15, 23, 29, 31, 35, 36, 43, 51, 61, 62, 65, 70, 72, 75, 98, 99], 'XB': [79]}