# Module 2

Data Exploration using Jupyter notebook

Concepts:

- Load data from a CSV file
- Convert data to list
- Convert data to dict
- Read data from a text file
- Basic data cleaning

In [1]:
import pandas

In [2]:
# using Tshirts with the header

df = pandas.read_csv("D:\\Jupyter_Notebooks\\CS654ML_DM\\Data\\tshirts_header.csv")

df

   Height  Weight   Color    Size
0     6.1     225  yellow   large
1     5.5     150     red  medium
2     5.2     175   white   small

In [3]:
# access a specific column

df['Height']

0    6.1
1    5.5
2    5.2
Name: Height, dtype: float64

In [4]:
# Convert column values into a list

df['Height'].to_list()

[6.1, 5.5, 5.2]

In [5]:
# to store the list

heights = df['Height'].to_list()

heights

[6.1, 5.5, 5.2]

In [6]:
type(heights)

list

In [7]:
# to store a data in a dictionary

df.to_dict()

{'Height': {0: 6.1, 1: 5.5, 2: 5.2},
 'Weight': {0: 225, 1: 150, 2: 175},
 'Color': {0: 'yellow', 1: 'red', 2: 'white'},
 'Size': {0: 'large', 1: 'medium', 2: 'small'}}

In [8]:
# will use the column names as the key for the dictionary
df.to_dict('records')

[{'Height': 6.1, 'Weight': 225, 'Color': 'yellow', 'Size': 'large'},
 {'Height': 5.5, 'Weight': 150, 'Color': 'red', 'Size': 'medium'},
 {'Height': 5.2, 'Weight': 175, 'Color': 'white', 'Size': 'small'}]

In [9]:
# will use the column names as the key for the dictionary
df.to_dict('list')

{'Height': [6.1, 5.5, 5.2],
 'Weight': [225, 150, 175],
 'Color': ['yellow', 'red', 'white'],
 'Size': ['large', 'medium', 'small']}

In [10]:
# Open a file

fin = open("D:\\Jupyter_Notebooks\\CS654ML_DM\\Data\\courses.txt", "r")

In [11]:
# save each line of the file as one element in the list

courses_raw = []

for l in fin:
   courses_raw.append(l)

In [12]:
fin.close()

In [13]:
courses_raw

['CS120, CS121, CS495, CS230\n',
 'CS230, CS418, CS455\n',
 'CS455, CS421, CS103']

# Basic Data Cleaning

In [14]:
# separate each course title as a single string

courses_entries = []

for list_elem in courses_raw:
    
    raw = list_elem.strip().split(",")
    
    course_list = []
    
    for elem in raw:
        course_list.append(elem.strip())
        
    courses_entries.append(course_list)

In [15]:
courses_entries

[['CS120', 'CS121', 'CS495', 'CS230'],
 ['CS230', 'CS418', 'CS455'],
 ['CS455', 'CS421', 'CS103']]

### Find the unique courses taken by the students

In [16]:
unique_courses = []

for course_list in courses_entries:
    for course_name in course_list:
        if course_name not in unique_courses:
            unique_courses.append(course_name)

In [17]:
unique_courses

['CS120', 'CS121', 'CS495', 'CS230', 'CS418', 'CS455', 'CS421', 'CS103']

In [18]:
# order the courses in the lexical manner

unique_courses.sort()

unique_courses

['CS103', 'CS120', 'CS121', 'CS230', 'CS418', 'CS421', 'CS455', 'CS495']

In [ ]:
# Create an array of 1/0; 1 represents course existence, 0 means no

final_table = []

for i in range (len(courses_entries)):

    result = []
    for name in unique_courses:
        if name in courses_entries[i]:
            result.append(1)
        else:
            result.append(0)
            
    final_table.append(result)