# Module 2

Data Exploration using Jupyter notebook

Concepts:

- Load data from a CSV file
- Convert data to list
- Convert data to dict
- Read data from a text file
- Basic data cleaning

In [ ]:
import pandas

In [ ]:
# using Tshirts with the header

df = pandas.read_csv("D:\\Jupyter_Notebooks\\CS654ML_DM\\Data\\tshirts_header.csv")

df

In [ ]:
# access a specific column

df['Height']

In [ ]:
# Convert column values into a list

df['Height'].to_list()

In [ ]:
# to store the list

heights = df['Height'].to_list()

heights

In [ ]:
type(heights)

In [ ]:
# to store a data in a dictionary

df.to_dict()

In [ ]:
# will use the column names as the key for the dictionary
df.to_dict('records')

In [ ]:
# will use the column names as the key for the dictionary
df.to_dict('list')

In [ ]:
# Open a file

fin = open("D:\\Jupyter_Notebooks\\CS654ML_DM\\Data\\courses.txt", "r")

In [ ]:
# save each line of the file as one element in the list

courses_raw = []

for l in fin:
   courses_raw.append(l)

In [ ]:
fin.close()

In [ ]:
courses_raw

# Basic Data Cleaning

In [ ]:
# separate each course title as a single string

courses_entries = []

for list_elem in courses_raw:
    
    raw = list_elem.strip().split(",")
    
    course_list = []
    
    for elem in raw:
        course_list.append(elem.strip())
        
    courses_entries.append(course_list)

In [ ]:
courses_entries

### Find the unique courses taken by the students

In [ ]:
unique_courses = []

for course_list in courses_entries:
    for course_name in course_list:
        if course_name not in unique_courses:
            unique_courses.append(course_name)

In [ ]:
unique_courses

In [ ]:
# order the courses in the lexical manner

unique_courses.sort()

unique_courses

In [ ]:
# Create an array of 1/0; 1 represents course existence, 0 means no

final_table = []

for i in range (len(courses_entries)):

    result = []
    for name in unique_courses:
        if name in courses_entries[i]:
            result.append(1)
        else:
            result.append(0)
            
    final_table.append(result)

In [ ]:
final_table

In [ ]:
import pandas as pd

In [ ]:
df_test = pd.DataFrame(final_table, columns= unique_courses, index=['John','Mary','Tom'])

In [ ]:
df_test

In [ ]:
# save each line of the file as one element in the list
# df_games = pandas.read_csv("D:\\Jupyter_Notebooks\\CS654ML_DM\\Data\\game_sales.csv", )

In [ ]:
#len(df_games)

In [ ]:
# df_games.head(10)

## Check to see if any null values exist

In [ ]:
# len(df_games.dropna())

## Check to see if there are any duplicate/identical rows.

In [ ]:
# len(df_games.drop_duplicates())

In [ ]:
# Show the 'Platform" column

# df_games['Platform']

##  Find the unique categorical, attributes, or column values there are.

- uses the **unique()** function

**Note:** This will return an array of values or results

In [ ]:
# df_games['Platform'].unique()

## Know the frequency of each value or the count of each value

In [ ]:
# df_games['Platform'].value_counts()

## To assign the result to a dictionary

In [ ]:
# df_games['Platform'].value_counts().to_dict()

## To list the keys in an order

In [ ]:
# df_games['Platform'].value_counts().sort_values()

In [ ]:
# List values in descending order

# df_games['Platform'].value_counts().sort_values(ascending=False)

## Using the describe() function

- Will apply the statistics to the dataframe's numerical values

**Note:** applying describe() to games will only give statistics about the numeric columns

In [ ]:
df.describe()

In [ ]:
# applying describe() to games will only give statistics about the numeric columns

# df_games.describe()

## To find groups within a particular attribute

- uses groupby() function

In [ ]:
# grouped = df_games.groupby(df_games['Platform'])

In [ ]:
# Will show the groups with the group members given in a list of the rows

#grouped.groups