# Module 1 Python Review
A simple review of the concepts that will be required for the course.

This lab module was a review of:

- Python basics
- Pandas
- Jupyter notebooks

In [1]:
# This is the sign to add documentation to the code -- #

In [2]:
# To print to the screen use the print()

print("Hello, CS 654.")

Hello, CS 654.

In [3]:
# x is a variable with integer value 10
x = 10

In [4]:
print(x)

10

In [5]:
# To get the type of a variable use the type()
type(x)

int

In [6]:
# y is a float data type
y = 3.14159

In [7]:
type(y)

float

In [8]:
print(y)

3.14159

In [9]:
# s is a variable that contains a text string
s = "Hello"

In [10]:
type(s)

str

In [11]:
# len() returns how many characters, including spaces, contained in a string
len(s)

5

In [12]:
# extract one character from the string
print(s[0])

H

In [13]:
# variable with a boolean value
single = True

In [14]:
type(single)

bool

In [15]:
# check the value of the single variable
print(single)

True

In [16]:
# check the value of a variable using the == operator
single == True

True

In [17]:
single != True

False

## Lab 2 

Covers:

- conditional statements (if, elif, else)
- comparing strings
- numerical operations
- simple data structures
- sorting
- functions
- dictionary

In [18]:
if(single == True):
    print('I am single.')

I am single.

In [19]:
if(single == True):
    print('I am single.')
else:
    print('I am not single.')

I am single.

In [20]:
# to compare strings
s1 = 'bear'
s2 = 'beer'
if(s1 == s2):
    print("s1 and s2 are the same.")
else:
    print("s1 and s2 are different.")

s1 and s2 are different.

**Note:** Python is case sensitive

In [21]:
"John" != "john"

True

In [22]:
# numerical operations on numerical values
x = 10
y = 3
print(x + y)
print(x - y)
print(x * y)
print(round(x/y, 2))
print(x % y)

13
7
30
3.33
1

In [23]:
# if, elif, and else statement

x = 10
y = 15

if(x > y):
    print("X is larger")
elif(y > x):
    print("Y is larger")
else:
    print("X and Y are equal")

Y is larger

## Simple data structures

In [24]:
# list is a data structure to store values
l = [6, 7, 2, 1, 4]

print(l)
print(len(l))

[6, 7, 2, 1, 4]
5

In [25]:
# show the first element of l
print(l[0])

6

In [26]:
# show the last element of l
print(l[len(l) - 1])

4

## For loop

For traversing a list

In [27]:
for i in range(len(l)):
    print(l[i])

6
7
2
1
4

In [28]:
for x in l:
    print(x)

6
7
2
1
4

In [29]:
# sort the list
l.sort()

print(l)

[1, 2, 4, 6, 7]

In [30]:
# descending order
l.sort(reverse=True)

print(l)

[7, 6, 4, 2, 1]

In [31]:
# sort strings
# will be sorted by the lexical order

s_1 = ['banana', 'orange', 'apple']

print(s_1)

s_1.sort()
print(s_1)

['banana', 'orange', 'apple']
['apple', 'banana', 'orange']

In [32]:
# lists within lists: 2-dimensions

l_two = [[23, 3, 1], [6, 45, 2, 5], [21, 456]]

print(l_two)

[[23, 3, 1], [6, 45, 2, 5], [21, 456]]

In [33]:
# iterate through the list use two for loops

for x in l_two:
    for y in x:
        print(y)
    print("----------")

23
3
1
----------
6
45
2
5
----------
21
456
----------

# Functions

In [34]:
def my_sum(l):
    sum = 0
    for x in l:
        sum = sum + x
    return sum

In [35]:
# calling the function

print(l)

my_sum(l)

[7, 6, 4, 2, 1]

20

# Dictionary

In [36]:
dict = {'John': 14,'Tom': 18, 'Susan': 17, 'Helen': 19}
print(len(dict))

4

In [37]:
# get the key values
for k in dict.keys():
    print(k)

John
Tom
Susan
Helen

In [38]:
# get the values of dict
for k in dict.keys():
    print(dict[k])

print(dict.values())

14
18
17
19
dict_values([14, 18, 17, 19])

# Get input from the user directly

In [39]:
option = input("What is your choice: 1, 2, 3?")

What is your choice: 1, 2, 3? 2

In [40]:
print(option)

2

In [41]:
if option == '1':
    print("You have chosen option 1.")
elif option == '2':
    print("You have chosen option 2.")
elif option == '3':
    print("You have chosen option 3.")
else:
    print("I don't understand your choice.")

You have chosen option 2.

In [42]:
# read data from a text file

In [43]:
# will read a file line-by-line into a list

fin = open("D:\\Jupyter_Notebooks\\CS654ML_DM\\Data\\sample_input.txt", 'r')
data_raw = []
for l in fin:
    data_raw.append(l)

fin.close()

In [44]:
data_raw

['30\n', '10\n', '40\n', '25\n', '33']

In [45]:
# using the strip function
data_int = []

for i in range(len((data_raw))):
    data_int.append(int(data_raw[i].strip()))

data_int

[30, 10, 40, 25, 33]

# Write data to a file

In [46]:

fout = open("D:\\Jupyter_Notebooks\\CS654ML_DM\\Data\\sample_output.txt", 'w')

for v in data_int:
    fout.write(str(v) + '\n')
    
fin.close()

In [53]:
l = [6, 2, 11, 5]
m = l

print(l)
print(m)

[6, 2, 11, 5]
[6, 2, 11, 5]

In [54]:
l.sort()

print(l)

print(m)

[2, 5, 6, 11]
[2, 5, 6, 11]

In [55]:
import copy

l = [6, 2, 11, 5]
m = copy.deepcopy(l)

In [50]:
print(l)
print(m)

[6, 2, 11, 5]
[6, 2, 11, 5]

In [51]:
l.sort()

In [52]:
print(l)
print(m)

[2, 5, 6, 11]
[6, 2, 11, 5]