# Module 1 Python Review
A simple review of the concepts that will be required for the course.

This lab module was a review of:

- Python basics
- Pandas
- Jupyter notebooks
- Tuple
- NumPy
- Pandas data structures

In [1]:
l = [6, 7, 2, 1, 4]

len(l)

5

In [2]:
for i in range(len(l)):
    print(l[i])

6
7
2
1
4

In [3]:
for  x in l:
    print(x)

6
7
2
1
4

In [4]:
# add more element to a list

l.append(11)

l

[6, 7, 2, 1, 4, 11]

In [5]:
# to remove an element

l.pop(0)

6

In [6]:
l

[7, 2, 1, 4, 11]

In [7]:
dict = {'John': 14,'Tom': 18, 'Susan': 17, 'Helen': 19}
print(len(dict))

print(dict)

4
{'John': 14, 'Tom': 18, 'Susan': 17, 'Helen': 19}

In [8]:
dict.keys()

dict_keys(['John', 'Tom', 'Susan', 'Helen'])

In [9]:
dict.values()

dict_values([14, 18, 17, 19])

In [10]:
# get the values of dict
for k in dict.keys():
    print(k)
    print(dict[k])

John
14
Tom
18
Susan
17
Helen
19

In [11]:
dict['Andy'] = 33

dict

{'John': 14, 'Tom': 18, 'Susan': 17, 'Helen': 19, 'Andy': 33}

In [12]:
# change a value
dict['John'] = 24

dict

{'John': 24, 'Tom': 18, 'Susan': 17, 'Helen': 19, 'Andy': 33}

# sets

In [13]:
set1 = set([13, 5, 6, 8])
set2 = set([2, 4, 6, 8])

print(set1)
print(set2)

{8, 5, 13, 6}
{8, 2, 4, 6}

In [14]:
set1.intersection(set2)

{6, 8}

In [15]:
set1.union(set2)

{2, 4, 5, 6, 8, 13}

In [16]:
set1.difference(set2)

{5, 13}

In [17]:
set2.difference(set2)

set()

# Tuple

**Note:** Tuple is similar to a list, but tuples **cannot** be updated. Can be used to protect values that should not be updated

In [18]:
tu = (3, 4, 2)

In [19]:
#tu[1] = 2                 # Cannot change the elements in the tuple

In [20]:
type(tu)

tuple

# Numpy Library

**Note:** NumPy array works faster in some computations and guarantees that the data is the same data type.

In [21]:
import numpy as np

In [22]:
print(l)

[7, 2, 1, 4, 11]

In [23]:
# convert a list to a Numpy array

a = np.array(l)

print(a)

type(a)

[ 7  2  1  4 11]

numpy.ndarray

# Pandas Data Structures

- Series
- DataFrame

In [24]:
import pandas as pd 
from pandas import Series, DataFrame

In [25]:
df = pd.read_csv("tshirts_header.csv")

type(df)

pandas.core.frame.DataFrame

In [26]:
df

   Height  Weight   Color    Size
0     6.1     225  yellow   large
1     5.5     150     red  medium
2     5.2     175   white   small

In [27]:
# Check the column names

df.columns

Index(['Height', 'Weight', 'Color', 'Size'], dtype='object')

In [28]:
# Check the index

df.index

RangeIndex(start=0, stop=3, step=1)

In [29]:
# assign index values to a DataFrame

df.index = ["John", "Mary", "Tom"] 

df

      Height  Weight   Color    Size
John     6.1     225  yellow   large
Mary     5.5     150     red  medium
Tom      5.2     175   white   small

In [30]:
# access a row using loc method
# Will retrun the results a Series

df.loc['John']

Height       6.1
Weight       225
Color     yellow
Size       large
Name: John, dtype: object

In [31]:
# Will retrun the result as a Series
type(df.loc['John'])

pandas.core.series.Series

In [32]:
# Access a row using iloc

df.iloc[0, : ]

Height       6.1
Weight       225
Color     yellow
Size       large
Name: John, dtype: object

In [33]:
# convert a series to a list

df.loc['John'].to_list()

[np.float64(6.1), np.int64(225), 'yellow', 'large']

In [34]:
print(df.loc['John'].to_list())

print(df.loc['John'].to_list()[3])

[np.float64(6.1), np.int64(225), 'yellow', 'large']
large

In [35]:
# Retrieve column values 

df['Height']

John    6.1
Mary    5.5
Tom     5.2
Name: Height, dtype: float64

In [36]:
df['Height'].to_list()

[6.1, 5.5, 5.2]

In [37]:
# Convert to a dictionary

df['Height'].to_dict()

{'John': 6.1, 'Mary': 5.5, 'Tom': 5.2}

In [38]:
# access a cell using iloc()

df.iloc[0, 0]

np.float64(6.1)

In [39]:
df.loc['John', 'Height']

np.float64(6.1)

# CSV file that does not have a header

In [40]:
df1 = pd.read_csv("tshirts_no_header.csv", header=None)

df1

     0    1       2       3
0  6.1  225  yellow   large
1  5.5  150     red  medium
2  5.2  175   white   small

In [41]:
df1[0]

0    6.1
1    5.5
2    5.2
Name: 0, dtype: float64